.hotel-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.hotel-photo {
  height: 250px;
  width: 320px;
  object-fit: cover;
  align-self: center;
}

@media screen and (max-width: 1050px) {
  .hotel-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hotel-photo {
    height: 200px;
    width: 280px;
    object-fit: cover;
    align-self: center;
  }
}
