@import '../../vars.scss';

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}


.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 35%;
  padding: 2.5rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  background-color: #f7f1f3;
}

.modal_button {
  background-color:#f7f1f3;
  width: 100px;
  padding: 5px;
  border-style: hidden;
}

.modal_button:focus {
  outline:none;
}

.modal_button:hover {
  font-weight: bold;
}

.modal_button:active {
  font-weight: bold;
}
