@import '../../vars.scss';

#rsvp_title {
  font-family: $title_font;
}

#form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#rsvpform {
  display: flex;
  flex-direction: column;
}

.form_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  p {
    font-family: $text_font;
    margin-right: 5px;
  }
}

.form_input {
  height: 20px;
  width: 300px;
}

.submit_button {
  font-family: $text_font;
  font-size: 15px;
  width: 100px;
  align-self: center;
  background-color: snow;
  padding: 5px;
  border-style: hidden;
}

.submit_button:focus {
  outline:none;
}

.submit_button:hover {
  font-weight: bold;
}

.submit_button:active {
  font-weight: bold;
}

.error_text {
  font-family: $text_font;
  font-size: 18px;
  color: #32031a;
  font-weight: bold;
  text-align: center;
}
