@import '../../vars.scss';

#rsvp-title {
  font-family: $title-font;
  margin-bottom: 0.01%;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

#rsvpform {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  p {
    font-family: $text-font;
    margin-right: 5px;
    flex: 1;
  }
}

@media screen and (min-width: 1050px) {
  #rsvpform {
    width: 70%;
  }
}

.form-input {
  height: 20px;
  margin: 1%;
  flex: 2;
}
.form-input:focus {
  outline: none;
}

.form-checkbox {
  @extend .form-item;
  justify-content: flex-end;
  p {
    text-align: end;
  }
}

#update-buttons {
  flex-direction: row;
  text-align: center;
  button {
    // @extend .submit-button;
    font-weight: bold;
    color: maroon;
  }
}

// .submit-button {
//   font-family: $text-font;
//   font-size: 15px;
//   width: 100px;
//   align-self: center;
//   background-color: rgba(0, 0, 0, 0);
//   padding: 5px;
//   border-style: hidden;
// }

// .submit-button:focus {
//   outline:none;
// }

// .submit-button:hover {
//   color: dimgrey;
// }

// .submit-button:active {
//   font-weight: bold;
// }
