@import '../../vars.scss';

#tourism-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.category-item {
  position: relative;
  margin-bottom: -20%;
  width: 350px;
  height: 300px;
  transition: all 0.5s ease;
  .category-name {
    opacity: 0;
    font-family: $text-font;
    font-size: 40px;
    position: relative;
    top: -40%;
    left: -40%;
    transform: translate(50%, 5%);
  }
}

.category-item:hover {
  @extend .category-item;
  .image-container {
    position: relative;
    transition: all 0.5s ease;
    opacity: .2;
  }
  .category-name {
    @extend .category-name;
    opacity: 1;
    transition: all 0.5s ease;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.image-container:focus {
  outline: 0;
}

.location-list {
  position: relative;
  z-index: -1;
  opacity: 0;
  margin-top: -200px;
  transition: all 1s;
  height:150px;
}

.animate-list {
  @extend .location-list;
  z-index: 0;
  opacity: 1;
  margin-top: -140px;
  margin-bottom: 100px;
  transform: translateY(100px);
  height: auto;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.list-text {
  font-family: $text-font;
  font-size: 20px;
}

.list-link {
  @extend .list-text;
  color:  #3a013a;
  text-decoration: underline;
  margin-left: 100%;
}

@media screen and (max-width: 450px) {
  .location-list {
    margin-top: -125px;
    height: 100px;
  }
  .animate-list {
    height: auto;
  }
  .category-item {
    width: 250px;
    height: 200px;
  }
  .category-name {
    font-size: 30px;
    top:-45%;
  }
  .list-text {
    font-size: 15px;
  }
}


