@import '../../vars.scss';

#tourism-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45%;
  justify-content: center;
  justify-items: center;
}

.category-item {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: -20%;
  transition: opacity 0.5s ease;
  .category-name {
    opacity: 0;
    font-family: $text-font;
    font-size: 40px;
    position: relative;
    top: -40%;
    left: -40%;
    transform: translate(50%, 5%);
  }
}

.category-item:hover {
  .image-container {
    transition: opacity 0.5s ease;
    opacity: .2;
  }
  .category-name {
    opacity: 1;
    transition: opacity 0.5s ease;
    font-family: $text-font;
    font-size: 40px;
    position: relative;
  top: -45%;
  left: -40%;
  transform: translate(50%, 5%);
  }
}

.image-container {
  width: 100%;
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}


