@import '../vars.scss';

.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#flowers {
  display: flex;
  justify-content: center;
  margin-top: -280px;
  position: relative;
}

#leftleftFlower {
  transform: rotate(250deg);
  height: $flower-header-height;
  margin-right: -200px;
}

#leftFlower {
  transform: rotate(250deg);
  height: $flower-header-height;
  margin-right: -90px;
}

#rightFlower {
  transform: rotate(-15deg);
  height: $flower-header-height;
  margin-left: -90px;
}

#rightrightFlower {
  transform: rotate(-15deg);
  height: $flower-header-height;
  margin-left: -200px;
}

#hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-photo {
  height: 500px;
  width: 500px;
  margin-top: -150px;
  border-radius: 50%;
  box-shadow: $shadow;
}

#hero-title {
  font-family: $title-font;
  font-size: 80px;
  margin-top: .5%;
  margin-bottom: 2%;
}

#date {
  font-family: $text-font;
  font-size: 60px;
  margin-bottom:1%;
}

#date:before {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 55%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-top: $border; /* This creates the border. Replace black with whatever color you want. */
}

#date:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 55%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: $border; /* This creates the border. Replace black with whatever color you want. */
}

.info-text {
  font-family: $text-font;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 600px;
  align-self: center;
}

#hero > .info-text {
  color: dimgrey;
}

.couple-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.HR-photos {
  height: 500px;
  width: 370px;
  margin-top: 5%;
  border-radius: 50%;
  box-shadow: $shadow;
}

.background-flower {
  height: 500px;
  width: 500px;
}

#footer {
  p {
  font-family: $text-font;
  font-size: 15px;
  text-align: center;
  }
  a {
    color: darkmagenta;
  }
}
