@import '../vars.scss';

.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#flowers {
  display: flex;
  justify-content: center;
  margin-top: -300px;
  position: relative;
}

#leftleftFlower {
  transform: rotate(250deg);
  height: $flower-header-height;
  margin-right: -200px;
}

#leftFlower {
  transform: rotate(250deg);
  height: $flower-header-height;
  margin-right: -90px;
}

#rightFlower {
  transform: rotate(-15deg);
  height: $flower-header-height;
  margin-left: -90px;
}

#rightrightFlower {
  transform: rotate(-15deg);
  height: $flower-header-height;
  margin-left: -200px;
}

.info-text {
  font-family: $text-font;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 100%;
  align-self: center;
}

.info-text:focus {
  outline: 0;
}

.error-text {
  @extend .info-text;
  color: maroon;
  font-weight: bold;
}

button {
  margin: 2%;
  background-color: #f9f1f5;
  border: 1px solid black;
  border-radius: 3px;
  font-family: "Poiret One";
  max-width: 100px;
  align-self: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

button:focus {
  outline:none;
}

button:hover {
  color: dimgrey;
}

button:active {
  font-weight: bold;
}

#footer {
  p {
  font-family: $text-font;
  font-size: 16px;
  text-align: center;
  }
  a {
    color: maroon;
  }
}

@media screen and (max-width: 600px) {
  #flowers {
    margin-top: -150px;
  }
  #leftleftFlower {
    height: 300px;
  }
  #leftFlower {
    height: 300px;
  }
  #rightFlower {
    height: 300px;
  }
  #rightrightFlower {
    height: 300px;
  }
}
