@import '../vars.scss';

.couple-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 15%;
  margin-right: 15%;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.HR-photos {
  height: 76%;
  width: 76%;
  margin-top: 10%;
  object-fit: cover;
  border-radius: 50%;
}

.background-flower {
  height: 400px;
  width: 400px;
}

.couple-photo-container {
  display: flex;
  justify-content: center;
}

.frame-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
}

.HR-photos-portrait {
  margin-top: 10%;
  height: 76%;
  width: 76%;
  object-fit: cover;
  border-radius: 50%;
}
