@import '../vars.scss';

#nav-outer-container {
  display: flex;
  justify-content: flex-end;
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: snow;
  height: 35px;
  p {
    font-size: 1.5vw;
    font-family: $text-font;
    color: dimgrey;
    a {
      color: dimgrey;
    }
  }
}

#nav-toggle:focus {
  outline: 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

#navbar-container-portrait {
  @extend #navbar-container;
  justify-content: space-between;
  align-items: center;
  height: 7vw;
  p {
    font-size: 1.1em;
  }
  :first-child {
    padding-left: 1%;
  }
  :last-child {
    padding-right: 1%;
  }
}

#menu-container-hide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: -3000;
  transition: transform 1s;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(255, 250, 250, 0.95);
  p {
    font-size: 4vw;
    font-family: $text-font;
    color: dimgrey;
    a {
      color: dimgrey;
    }
  }
}

#menu-container-show {
  @extend #menu-container-hide;
  transition: transform 1s;
  transform: translateX(3000px);
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  border-bottom: $border;
}

.close:focus {
  outline: 0;
}

.navbar-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

// section styling:

.outer-container {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

@media screen and (max-width: 750px) {
  .outer-container {
    padding: 6%;
  }
}

@media screen and (max-width: 650px) {
  .outer-container {
    padding: 8%;
  }
}

@media screen and (max-width: 450px) {
  .outer-container {
    padding: 10%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  background-color: snow;
  width: 60%;
  justify-content: center;
  align-self: center;
  margin: 1%;
  padding: 1%;
  border: $border;
}

@media screen and (max-width: 994px) {
  .section {
    width: 100%;
  }
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1%;
  p {
    font-family: $title-font;
    font-size: 60px;
    margin-bottom: -3%;
    margin-top: 1%;
    text-align: center;
  }
}

.leftSmallFlower {
  height: 60px;
  width: 60px;
  align-self: center;
  margin-left: 2%;
  margin-right: 2%;
}

.rightSmallFlower {
  height: 60px;
  width: 60px;
  align-self: center;
  margin-left: 2.5%;
  margin-right: 2%;
  transform: scaleX(-1);
}

@media screen and (max-width: 600px) {
  .section-title {
    p {
      font-size: 30px;
    }
  }
  .leftSmallFlower {
    height: 30px;
    width: 30px;
  }
  .rightSmallFlower {
    height: 30px;
    width: 30px;
  }
}
