@import '../../vars.scss';

#party-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.person-photo {
  height: 100px;
  width: 100px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0%;
}

.person-text-container {
  flex-direction: column;
  margin-left: 2%;
}

.person-description {
  font-family: $text-font;
  width: 100%;
  margin-top: 3%;
}

.person-name {
  font-family: $title-font;
  font-size: 30px;
  margin: 0px;
}

.person-title {
  font-family: $text-font;
    font-size: 15px;
    margin: 0px;
    margin-top: -3%;
    z-index: 1px;
}

.person {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

