@import '../../vars.scss';

.people-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 300px;
  padding-left: 5%;
  padding-right: 5%;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  min-height: 250px;
}

.person-name-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 2%;
  justify-content: space-between;
}

.person-name {
  font-family: $title-font;
  font-size: 50px;
  margin-left: 1%;
  margin-bottom: 0%;
  margin-top: 0%;
  line-height: 1;
  flex: 1;
}

.person-title {
  font-family: $text-font;
  font-size: 25px;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
  color: dimgrey;
  flex: 1.5;
  text-align: right;
}

.person-info-container {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
}

.person-photo {
  height: 150px;
  width: 150px;
  border-radius: 10%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 0%;
  overflow-y: hidden;
  object-fit: cover;
}

.person-description {
  align-self: center;
  font-family: $text-font;
  font-size: 16px;
  width: 75%;
  margin-top: 0%;
}

.person-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

@media screen and (max-width: 1050px) {
  .person-name-container {
    flex-direction: column;
    flex: 2;
    align-self: flex-end;
  }
  .person-description {
    width: 100%;
  }
  .person-title {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 790px) {
  .person-name {
    width: 98%;
    font-size: 8vw;
  }
  .person-title {
    font-size: 4vw;
  }
}

@media screen and (max-width: 500px) {
  .person-photo {
    height: 100px;
    width: 100px;
  }
}
