@import '../vars.scss';

#leftBouquet {
  width: 50%;
  margin-right: -30%;
  min-width: 300px;
}

#rightBouquet {
  width: 50%;
  margin-left: -30%;
  z-index: -1;
  min-width: 300px;
}

#pw-container {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0%;
}

#pw-flowers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pw-box {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 30%;
  align-items: center;
  background-color: snow;
  z-index: 1;
  padding: 1%;
  border: 1px solid black;
  min-width: 150px;
  input {
    width: 80%;
    margin: 5%;
    height: 20px;
  }
  input:focus {
    outline: none;
  }
}
