@import './vars.scss';

.App {
  display: flex;
  flex-direction: column
}

#flowers {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  position: relative;
}

#leftleftFlower {
  transform: rotate(250deg);
  height: $height600;
  margin-right: -200px;
}

#leftFlower {
  transform: rotate(250deg);
  height: $height600;
  margin-right: -90px;
}

#rightFlower {
  transform: rotate(-15deg);
  height: $height600;
  margin-left: -90px;
}

#rightrightFlower {
  transform: rotate(-15deg);
  height: $height600;
  margin-left: -200px;
}

#hero {
  text-align: center;
}

#header_photo {
  height: 500px;
  width: 500px;
  margin-top: -150px;
  border-radius: 50%;
  box-shadow: 3px 14px 20px 0px dimgrey;
}

#hero_title {
  font-family: $title_font;
  font-size: 80px;
  margin-top: 10px;
}

.section {
  height: 600px;
}
