// variables:
$title-font: 'Mrs Saint Delafield';
$flower-header-height: 600px;
$title-color: 'black';
$text-font: 'Poiret One';
$border: 1px solid black;
$shadow: 3px 14px 20px 0px dimgrey;
$background: #f9f1f5;
