@import '../../vars.scss';
@import '../../app/App.scss';

.category-container {
  display: flex;
  flex-direction: column;
}

.photo-type-title {
  font-family: $text-font;
  font-size:30px;
  border-bottom: $border;
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-photo-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 2%;
  transition: transform, .5s;
  img {
    overflow-y: hidden;
    object-fit: cover;
  }
}

.active-photo {
  transition: transform, .5s;
  transform: scale(2);
  img {
    overflow: visible;
    height: 300px;
  }
}

.upload-form {
  display: flex;
  justify-content: center;
}

.upload-text {
  @extend .info-text;
  display: flex;
}

.upload-input {
  margin-left: 5%;
  margin-right: -50%;
}
