@import '../../vars.scss';
@import '../../app/App.scss';

.category-container {
  display: flex;
  flex-direction: column;
}

.photo-type-title {
  font-family: $text-font;
  font-size:30px;
  border-bottom: $border;
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-and-caption-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.single-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  align-self: center;
  img {
    transition: transform, .5s;
    overflow-y: hidden;
    object-fit: cover;
  }
}

.active-photo {
  img {
    transition: transform, .5s;
    transform: scale(2);
    overflow: visible;
    height: 300px;
  }
}

.caption-text {
  @extend .info-text;
  font-size: .8rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pagination-buttons-container {
  @extend .pagination-container;
  flex-direction: row;
}

.pages-container {
  display: flex;
  justify-content: center;
  p {
    margin: .3rem;
    padding: 1rem;
  }
  h6 {
    margin: .3rem;
    padding: 1rem;
  }
  p:hover {
    color: dimgrey;
    background-color: $background;
  }
}

@media screen and (max-width: 600px) {
  .pages-container {
    h6 {
      padding: inherit;
    }
  }
}

.currentPage {
  @extend .info-text;
  border: $border;
  padding: 1rem;
}

.photo-button {
  @extend .info-text;
  padding: 1rem;
}

.photo-button:hover {
  color: dimgrey;
  background-color: $background;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

.upload-form {
  display: flex;
  flex-direction: column;
  width: 50%
}

.upload-input {
  width: 67%;
}

.upload-text {
  @extend .info-text;
  margin: 0%;
  flex: 1;
  text-align: left;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 1%;
}

@media screen and (max-width: 600px) {
  .upload-form {
    width: 90%;
  }
}

