@import '../../vars.scss';

#schedule_container {
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-rows: auto;
  justify-content: center;
}

.title_description {
  border-left: $border;
}

.time {
  font-family: $text_font;
  margin-right: 2%;
  font-size: 25px;
  min-width: 100px;
  max-width: 100px;
  justify-self: flex-end;
}

.dot {
  margin: -7.56px;
}

.description_container {
  max-width: 500px;
  padding-left: 5%;
}

.description_title {
  font-family: $text_font;
  font-size: 25px;
}

.description_text {
  font-family: $text_font;
  font-size: 15px;
}
